/* src/pages/About/AboutPage.scss */
.aboutpage {
    padding: 2rem;
    background-color: #f9f9f9;
    color: #333;
}

.aboutpage__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.aboutpage__section {
    margin-bottom: 2rem;
}

.aboutpage__subtitle {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.aboutpage__text {
    font-size: 1rem;
    line-height: 1.5;
}
